.success {
    border: solid;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    border-color: green;
    background-color: rgb(186, 231, 186);
    font-size: large;
    font-weight: 550;
    color: green;
    text-align: center;
}