<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>I'm in the AppComponent!</h3>
            <hr>
            <app-servers></app-servers>
            <hr>
            <h4>Error Alert:</h4>
            <error-alert></error-alert>
            <hr>
            <h4>Warning Alert:</h4>
            <warning-alert></warning-alert>
            <hr>
            <h4>Success Alert:</h4>
            <success-alert></success-alert>
            <hr>
            <h4>Displaying all the alerts with nested components</h4>
            <alerts></alerts>
        </div>
    </div>
</div>
