<div class="container">
  <app-cockpit 
    (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)">
  </app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">
        Change First Element
      </button>
      <button class="btn btn-danger" (click)="onDestyorFirst()">Destroy First Component</button>
      <app-server-element 
      *ngFor="let serverElement of serverElements"
      [serverElementAlias]="serverElement"
      [name]="serverElement.name">
      <p #contentParagraph>
        <strong *ngIf="serverElement.type === 'server'" style="color: red">
            {{ serverElement.content }}
        </strong>
        <em *ngIf="serverElement.type === 'blueprint'">
            {{ serverElement.content }}
        </em>
      </p>
      </app-server-element>
    </div>
  </div>
  <hr>
  <h2>Assignment 4</h2>
  <app-game-control (gameStarted)="onGameStarted($event)"></app-game-control>
  <br>
  <span class="counter"> {{ appCounter }} </span>
  <hr>
  <app-odd *ngFor="let number of numbers" [number]="number"></app-odd>
  <hr>
  <app-even *ngFor="let number of numbers" [number]="number"></app-even>
</div>

